html
    include partials/head.pug
    body
        h1= show
        div= `Season ${season.number}`
            table
                tr
                    th No.
                    th Title
                    th Director
                for episode in season.episodes
                    tr
                        td(class = 'number')= episode.number
                        td(class = 'main')= episode.title
                        td(class = 'main')= episode.director
                    tr
                        td(class = 'syn' colspan= 3)= episode.synopsis
                        
                
        
                
